<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @indication.name %>
</p>

<%= link_to 'Редактировать', edit_indication_path(@indication) %> |
<%= link_to 'Назад к показаниям', indications_path %>
