<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @contraindication.name %>
</p>

<%= link_to 'Редактировать', edit_contraindication_path(@contraindication) %> |
<%= link_to 'Назад к противопоказаниям', contraindications_path %>
