<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contraindication.name %>
</p>

<%= link_to 'Edit', edit_contraindication_path(@contraindication) %> |
<%= link_to 'Back', contraindications_path %>
